<!-- <div class="container">
<div class="row">
  <div class="col-xs-12 text-center meanwhile">
  <%= image_tag "logo1.png",  height: 300%>
  <h5>PTY Brothers v2.0.0 Soon</h5>
  </div>
</div>
</div> -->
<br>
<br>
<% if current_user %>
<br>
<br>
<br>
<br>
<% if @posts %>
<% @posts.reverse.each do |post|%>
<div class="container" style="padding-bottom: 150px">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to post_path(post) do %>
      <div class="text-center">
        <%= cl_image_tag post.foto, height: 500, crop: :fill, class: "img-responsive center", style: "border: 3px solid #000000;"%>
      </div>
      <%end%>
      <h2>Rider</h2>
      <h3>
        <%= link_to rider_path(post.rider) do %>
        <%= cl_image_tag post.rider.photo, height: 80, class: "avatar-small", style: "border-radius: 50%; border: 3px solid #000000;"%>
        <%= post.rider.first_name %> <%= post.rider.last_name %>
        <%end%>
      </h3>
      <h3><i class="fa fa-camera"></i> <%= post.fotografo %></h3>
      <h3><i class="fa fa-star"></i> <%= post.reputation_for(:likes).to_i%></h3>

      <p> <i class="fa fa-arrow-up"></i> <%= link_to "up", like_post_path(post,type:"up"), method: "post"%> </p>
       <p> <i class="fa fa-arrow-down"></i>  <%= link_to "down", like_post_path(post,type:"down"), method: "post"%> </p>
    </div>
  </div>
</div>
<% end %>
<%else%>
<h1>Fuck wait</h1>
<% end %>

<%else%>
<br>
   <div class="banner" style="background-image: url('<%= image_path('banner3.png')%> ');  background-position: center;">
    <div class="banner-content">
      <h1 style="color: white !important">PTY Brothers</h1>
      <h3 style="color: white !important">Comunidad Unida por la Adrenalina</h3>
      <p>Se parte del movimiento!</p>
      <%= link_to "Sing up", new_user_registration_path, class: "btn btn-bro"%>
    </div>
  </div>
<% end %>
