<% @albums.each do |album| %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(150,20,0,0.6) 0%, rgba(150,0,0,0.3) 50%), url('<%= cl_image_path album.photos.first.path %>');  background-position: center; -webkit-filter: grayscale(100%); filter: grayscale(100%);">
  <%= link_to album_path(album) do %>
  <div class="banner-content">
    <h1><%=album.title%></h1>
    <h4><i class="fa fa-camera"></i> <%=album.photographer%></h4>
    <h4><i class="fa fa-location"></i> <%=album.location%></h4>
  </div>
  <% end %>
</div>
<% end %>


