<% @albums.each do |album| %>
<div class="banner" style="background-image:url('<%= cl_image_path album.photos.first.path %>'); ">
  <%= link_to album_path(album) do %>
  <div class="banner-content">
    <h1><%=album.title%></h1>
    <h4><i class="fa fa-camera"></i> <%=album.photographer%></h4>
    <h4><i class="fa fa-location"></i> <%=album.location%></h4>
  </div>
  <% end %>
</div>
<% end %>


