<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row text-center">
  <h2><%= @album.title %></h2>
    <h3><%= @album.location %></h3>
      <h4><%= @album.photographer %></h4>


  <hr>
     <%@album.photos.each_with_index  do |photo,index|%>
              <div class="text-center">
                <br>
              <%= cl_image_tag photo.path, height: 500, crop: :fill, class: "img-responsive center" %>
              <br>
              </div>
    <% end %>
    <hr>
    <hr>
    <%@album.photos.each_with_index  do |photo,index|%>
    <% modal = "#myModal" + index.to_s %>
    <% modalid = "myModal" + index.to_s %>
    <div class="col-xs-4">
      <a  class="btn btn-foto" data-toggle="modal" data-target=<%= modal %>>
        <%= cl_image_tag photo.path, height: 150, crop: :fill, class: "img-responsive pic-border" %>
      </a>
      <div id=<%= modalid %> class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= @album.title%></h4>
            </div>
            <div class="modal-body">
              <%= cl_image_tag photo.path, height: 500, crop: :fill, class: "img-responsive" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <hr>
  </div>
</div>
<div class = "text-center padded">
  <%if current_user.rider.id == @album.rider_id%>
  <%= link_to "Edit", edit_album_path(@album), class: 'btn btn-bro'%>
  <%end%>
</div>

