<div class="navbar-wagon navbar-wagon-fixed text-center">
   <%= link_to albums_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>
  <h2 style="text-align: center;"><%= @album.title%></h2>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <%@album.photos.each do |photo|%>
    <div class="col-xs-12 art">
    <hr>
      <%= cl_image_tag photo.path, height: 500, crop: :fill, class: "img-responsive" %>
      <hr>
      <br>
    </div>
    <% end %>
  </div>
</div>
<div class = "text-center padded">
  <%if current_user.rider.id == @album.rider_id%>
  <%= link_to "Edit", edit_album_path(@album), class: 'btn btn-bro'%>
  <%end%>
</div>

