<div class="text-center">
  <h1><%= @album.title%></h1>
  <h2><%=@album.rider.user_name%></h2>
  <h3><%=@album.photographer%></h3>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row text-center">
    <%@album.photos.each do |photo|%>
    <div class="col-xs-12 art">
      <%= cl_image_tag photo.path, height: 500, crop: :fill, class: "img-responsive" %>
      <br>
    </div>
    <% end %>
  </div>
</div>
<div class = "text-center padded">
  <%if current_user.rider.id == @album.rider_id%>
  <%= link_to "Edit", edit_album_path(@album), class: 'btn btn-bro'%>
  <%end%>
</div>

