<br>
<br>
<br>
<h1 style="padding-top: 50px"></h1>
<div class="text-center">
  <div class="container">
  <%= cl_image_tag @post.foto,  height: 500, class: "img-responsive center-block", style: "border: 3px solid #000000;"%>
  </div>
</div>
<div class="container" style="padding-bottom: 50px">
  <div class="row">
   <div class="text-center">
    <h1>Rider</h1>
    <%= link_to rider_path(@post.rider) do %>
    <h3>
      <%= cl_image_tag @post.rider.photo, height: 80, class: "avatar-small", style: "border-radius: 50%; border: 3px solid #000000;"%>
      <%= @post.rider.first_name %> <%= @post.rider.last_name %>
    </h3>
    <% end %>
    <h3><i class="fa fa-camera"></i> <%= @post.fotografo %></h3>
    <h3><i class="fa fa-star"></i> <%= @post.reputation_for(:likes).to_i%></h3>
    <%= link_to "up", like_post_path(@post,type:"up"), method: "post"%>
    <%= link_to "down", like_post_path(@post,type:"down"), method: "post"%>
  </div>
</div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="text-left">
        <h3>Comments</h3>
        <%= render 'comments/comment' %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
