<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
     <h3><%=@rider.first_name %> <%=@rider.last_name %></h3>
     <%= cl_image_tag @rider.photo, height: 150 , crop: :fill, class: "" %>
     <h4><strong>AKA: </strong><%=@rider.user_name%></h4>
     <h4><strong>Age: </strong><%=@rider.age%></h4>
     <h4><strong>Origin: </strong><%=@rider.country%></h4>
     <h4><%=@rider.description%></h4>
   </div>
 </div>
</div>
<br>
<div class="text-center">
 <%if current_user.rider.id == @rider.id%>
 <%= link_to "Edit", edit_rider_path(@rider), class: 'btn btn-bro'%>
 <%end%>
</div>

<div class="text-center" style="padding-bottom: 20px; padding-top: 20px;">
  <% if @user.admin %>
  <%if current_user.rider.id == @rider.id%>
  <%= link_to "Add Session", new_rider_album_path(@rider), class: "btn btn-danger"%>
  <%end%>
  <%end%>
</div>
<div class="container">
<div class="text-center" style="padding-bottom: 20px; padding-top: 20px;">
 <%if current_user.rider.id == @rider.id%>
 <h2>Add post</h2>
 <%= link_to new_rider_post_path(@rider) do %>
 <h2><i class="fa fa-plus"></i></h2>
 <%end%>
 <%end%>
</div>
</div>
<div class="container">
<div class="row">
  <hr>
  <% @rider.posts.reverse.each do |post|%>
  <div class="col-md-4">
  <%= link_to post_path(post) do %>
      <div class="text-center" style="padding-bottom:70px">
        <%= cl_image_tag post.foto,  height: 200, crop: :fill, class: "img-responsive", style: "border: 3px solid #000000;"%>
      </div>
    <% end %>
  </div>
  <% end %>
  <br>
</div>
</div>
<br>
<br>
<br>
<br>
