<div class="text-center">
  <h1><%=@rider.first_name + " " + @rider.last_name%></h1>
  <img src="http://placehold.it/350x150" alt="" class="avatar-large">
  <h2><strong>AKA:</strong><%=@rider.user_name%></h2>
  <h3><%=@rider.age%></h3>
  <h3><%=@rider.country%></h3>
  <h3><%=@rider.description%></h3>
</div>
