<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
     <h3><%=@rider.first_name %> <%=@rider.last_name %></h3>

     <%= cl_image_tag @rider.photo, height: 300, width: 400, crop: :fill, class: "avatar-large" %>
     <h2><strong>AKA: </strong><%=@rider.user_name%></h2>
     <h3><strong>Age: </strong><%=@rider.age%></h3>
     <h3><strong>Origin: </strong><%=@rider.country%></h3>
     <div>
      <h3><%=@rider.description%></h3>
    </div>
  </div>
  <div class="text-center">
   <%if current_user.rider.id == @rider.id%>
   <%= link_to "Edit", edit_rider_path(@rider), class: 'btn btn-bro'%>
   <%end%>
 </div>
</div>
</div>
<br>
<br>
<% if @rider.team_rider %>
<div class="container">
  <div class="row text-center">
    <h1>Features</h1>
    <% @rider.albums.each do |album| %>
    <%= link_to album_path(album) do %>
    <div class="col-xs-12 col-sm-4">
     <% if album.photos.present? %>
     <div class="card" style="background-image: url('<%= cl_image_path album.photos.first.path %>')">
      <div class="card-category text-center">
        <h2><%=album.title%></h2>
      </div>
      <div class="card-description">
        <h3>Rider: <%=album.rider.user_name%></h3>
        <h4>By: <%=album.photographer%></h4>
      </div>
    </div>
    <% else %>
    <div class="card" style="background-image:url('<%= image_path('banner.jpeg') %>')">
      <div class="card-category text-center">
        <h2><%=album.title%></h2>
      </div>
      <div class="card-description">
        <h3>Rider: <%=album.rider.user_name%></h3>
        <h4>By: <%=album.photographer%></h4>
      </div>
    </div>
    <%end%>
  </div>
  <%end%>
  <%end%>
</div>
</div>

<div class="text-center" style="padding-bottom: 20px; padding-top: 20px;">
  <%= link_to "Add Session", new_rider_album_path(@rider), class: "btn btn-danger"%>
</div>
<%end%>
