<!DOCTYPE html>
<html>
<head>
  <title>PTY Brothers</title>
    <meta name="description" content="Ptybrothers comunidad Unida por la Adrenalina! Movimiento que fue creado con el principal motivo de mantener la escena de los deportes extremos viva en Panamá. Nuestro objetivo es brindar apoyo a riders mediante material audiovisual de alta calidad que demuestre su talento, poniendo así a Panamá en el mapa de los deportes extremos. Se parte del movimiento!">
    <meta property="og:title" content="PTYB rothers">
    <meta property="og:description" content="Ptybrothers comunidad Unida por la Adrenalina! Movimiento que fue creado con el principal motivo de mantener la escena de los deportes extremos viva en Panamá. Nuestro objetivo es brindar apoyo a riders mediante material audiovisual de alta calidad que demuestre su talento, poniendo así a Panamá en el mapa de los deportes extremos. Se parte del movimiento!">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= render 'application/favicon' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Indie+Flower" rel="stylesheet">
  <style>
 .navbar-wagon-brand2 img {
  width: 70px;
}
.position{
   background: #070707;
  padding: 30px 0;
  color: #CCCCCC;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footerv2 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #070707;
   color: white;
   text-align: center;
}
.responsive {
    width: 100%;
    height: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  </style>

</head>
<body class="Site">
  <%= render 'shared/navbarv2' %>
  <%= render 'shared/flashes' %>
    <%= yield %>
  <%= render 'shared/footerV2' %>
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>
  <script src="lib/jquery-2.0.3.js"></script>
</body>
</html>

